<p-table #t [columns]="columns" [value]="values" [selectionMode]="selectMode" [(selection)]="selection"
       responsiveLayout="scroll" dataKey="requestId" (onSort)="handleSort($event)"
       rowExpandMode="single" styleClass="table">
      <ng-template pTemplate="caption">
        <div class="header">
          <div class="caption">
            <div>
              <p-button icon="pi pi-filter-fill" (onClick)="onFilterClick($event)"></p-button>
            </div>
            <span class="p-input-icon-left search-input">
              <i class="pi pi-search" style="margin-left: 10px; font-weight:bold ;"></i>
              <input type="text" pInputText placeholder="{{ 'global.placeholder.search' | translate }}"
                (input)="filterGlobal($any($event.target).value)">
            </span>
          </div>
          <ng-container *ngIf="showTableName">
            <div class="table-name">
              {{tableName}}
            </div>
          </ng-container>
        </div>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th style="width: 3rem"></th>
          <th *ngFor="let col of columns" [pSortableColumn]="col.subField ? col.subField : col.field">
            {{col.header}}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns" let-expanded="expanded">
        <tr class="p-selectable-row" (click)="onRequestRepairClick(rowData)" [ngClass]="{'selectedRow': rowData === selectRow}">
          <td class="ui-resizable-column">
            <button type="button" pButton pRipple [pRowToggler]="rowData"
              class="p-button-text p-button-rounded p-button-plain"
              [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
          </td>
          <td class="ui-resizable-column" *ngFor="let col of columns" [ngSwitch]="getInstanceType(rowData[col.field] && col.subField ? rowData[col.field][col.subField] : rowData[col.field])">
            <ng-container *ngIf="col.subField != null; else standard">
              <div *ngSwitchCase="'DATE'" class="ellipsis">
                {{(rowData[col.field] ? rowData[col.field][col.subField] : rowData[col.field]) | date: 'yyyy-MM-dd'}}
              </div>
              <div *ngSwitchCase="'RESULT'">
                <i [class]="rowData[col.field][col.subField] === statusOpen.name ? 'pi pi-exclamation-circle mr-2' :
                            rowData[col.field][col.subField] === statusCancel.name ? 'pi pi-times mr-2' :
                            rowData[col.field][col.subField] === statusProgress.name ? 'pi pi-clock mr-2':
                            rowData[col.field][col.subField] === statusFinish.name ? 'pi pi-check mr-2' : ''"></i>
              </div>
              <div *ngSwitchDefault class="ellipsis">
                {{rowData[col.field] && col.subField ? rowData[col.field][col.subField] : rowData[col.field]}}
              </div>
            </ng-container>
            <ng-template #standard>
              <div *ngSwitchCase="'DATE'" class="ellipsis">
                {{rowData[col.field] | date: 'yyyy-MM-dd'}}
              </div>
              <div *ngSwitchDefault class="ellipsis">
                {{rowData[col.field]}}
              </div>
            </ng-template>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="rowexpansion" let-repair style="position: relative; overflow: hidden;">
        <tr>
            <td colspan="7">
                <div class="p-3">
                  <div class="repair-info">
                    <div class="p-2">
                      <label for="createdBy">Stworzony przez: </label>
                      {{repair.manager.name}} {{repair.manager.surname}}
                    </div>
                    <div class="p-2">
                      <label for="targetObject">Obiekt naprawy: </label>
                      {{repair.targetObject.name}}
                    </div>
                    <div class="p-2">
                      <label for="client">Klient obiektu: </label>
                      {{repair.targetObject.client.name}} {{repair.targetObject.client.surname}}
                    </div>
                    <div class="p-2">
                      <label for="client">Data progresu: </label>
                      {{(repair.progressDate | date:'dd-MM-yyyy, H:mm') ?? 'Brak'}}
                    </div>
                    <div class="p-2">
                      <label for="client">Data zakończenia: </label>
                      {{(repair.endDate | date:'dd-MM-yyyy, H:mm') ?? 'Brak'}}
                    </div>
                    <div class="p-2">
                      <label for="result">Rezultat: </label>
                      {{repair.result ?? 'Brak'}}
                    </div>
                    <div class="p-2">
                      <label for="requestCancelled">Odwołane: </label>
                      <p-checkbox [disabled]="true" [(ngModel)]="repair.requestCancelled" [binary]="true" inputId="binary"></p-checkbox>
                    </div>
                  </div>
                  <p-accordion class="w-full activity-panel" [multiple]="false" [activeIndex]="activeAccordionIndex">
                        <p-accordionTab *ngFor="let activity of repair.activity; let i = index" (click)="onActivityClick(activity)" [disabled]="repair.requestCancelled">
                          <ng-template pTemplate="header">
                            <div class="flex align-items-center">
                                <i [class]="activity.status.statusId === statusOpen.statusId ? 'pi pi-exclamation-circle mr-2' :
                                            activity.status.statusId === statusCancel.statusId ? 'pi pi-times mr-2' :
                                            activity.status.statusId === statusProgress.statusId ? 'pi pi-clock mr-2':
                                            activity.status.statusId === statusFinish.statusId ? 'pi pi-check mr-2' : ''"></i>
                                <span class="vertical-align-middle">Zadanie {{i + 1}}</span>
                            </div>
                          </ng-template>
                          <ng-template pTemplate="content">
                            <div class="p-1">
                              <label for="description">Opis: </label>
                              {{activity.description ?? 'Brak'}}
                            </div>
                            <div class="p-1">
                              <label for="sequenceNumber">Numer zadania do wykonania: </label>
                              {{activity.sequenceNumber ?? 'Brak'}}
                            </div>
                            <div class="p-1">
                              <label for="employee">Pracownik: </label>
                              {{activity.employee?.name ?? 'Brak'}} {{activity.employee?.surname ?? ''}}
                            </div>
                            <div class="p-1">
                              <label for="activityType">Typ zadania: </label>
                              {{activity.activityType.typeName ?? 'Brak'}}
                            </div>
                            <div class="p-1">
                              <label for="createDate">Data utworzenia: </label>
                              {{(activity.createDate | date:'dd-MM-yyyy, H:mm') ?? 'Brak'}}
                            </div>
                            <div class="p-1">
                              <label for="statusUpateDate">Ostatnia data edycji statusu: </label>
                              {{(activity.statusUpateDate | date:'dd-MM-yyyy, H:mm') ?? 'Brak'}}
                            </div>
                            <div class="p-1">
                              <label for="result">Rezultat: </label>
                              {{activity.result ?? 'Brak'}}
                            </div>
                            <div class="accordion-buttons p-1">
                              <p-button label="Edytuj zadanie" (onClick)="onEditActivity()"></p-button>
                            </div>
                          </ng-template>
                        </p-accordionTab>
                  </p-accordion>
                </div>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td style="text-align: center; justify-content: center;" colspan="5"> {{'table.noData'| translate}} </td>
      </tr>
    </ng-template>
</p-table>
