:host ::ng-deep .p-datatable-responsive-scroll>.p-datatable-wrapper {
  height: calc(100vh - 280px);
  overflow: auto;
}

:host ::ng-deep .p-datatable-thead {
  position: sticky;
  top: -1px;
}

:host ::ng-deep .p-hidden-accessible {
  display: none;
}

:host ::ng-deep .p-datatable .p-datatable-thead th:first-child {
  border-right: none !important;
}

.repair-info {
  font-size: 22px;
  label {
    color: var(--primary-color);
    font-weight: bold;
  }
}

.activity-panel {
  font-size: 16px;
  label {
    color: var(--primary-color);
    font-weight: bold;
  }
}

.text-red {
  color: red;
}

.selectedRow {
  background-color: var(--primary-color-darker) !important;
}

.accordion-buttons {
  display: flex;
  justify-content: center;
}
