<div *ngIf="!showPassword; else passwordContent" class="dialog-content">
  <div class="dialog-body">
    <form #form="ngForm" [formGroup]="employeeForm" class="dialog-form">
      <span class="p-float-label">
        <input pInputText id="name" formControlName="name" placeholder="Imie" [(ngModel)]="employee.name" />
      </span>
      <span class="p-float-label">
        <input pInputText id="surname" formControlName="surname" placeholder="Nazwisko"
          [(ngModel)]="employee.surname" />
      </span>
      <span class="p-float-label">
        <input pInputText id="email" formControlName="email" placeholder="Email" [(ngModel)]="employee.email" />
      </span>
      <span class="p-float-label">
        <p-calendar formControlName="birthDay" dateFormat="dd-mm-yy" [(ngModel)]="employeeBirthDate"
          [maxDate]="maxEmployeeBirthDate" [defaultDate]="maxEmployeeBirthDate" appendTo="body"
          placeholder="Data urodzenia"></p-calendar>
      </span>
      <span class="p-float-label">
        <input pInputText id="phoneNumber" formControlName="phoneNumber" placeholder="Numer telefonu"
          [(ngModel)]="employee.phoneNumber" maxlength="11" />
      </span>
      <span class="p-float-label">
        <input pInputText id="gender" formControlName="gender" placeholder="Płeć" [(ngModel)]="employee.gender" />
      </span>
      <span class="p-float-label">
        <input pInputText id="pesel" formControlName="pesel" placeholder="Pesel" [(ngModel)]="employee.pesel"
          maxlength="11" />
      </span>
      <span class="p-float-label">
        <p-dropdown [options]="roles" id="role" optionLabel="roleName" formControlName="role" [(ngModel)]="selectedRole"
          placeholder="Rola" [autoDisplayFirst]="false" appendTo="body">
        </p-dropdown>
      </span>
    </form>
  </div>
  <div class="dialog-footer">
    <p-button styleClass="button-width dialog-button-margin" [label]="edit ? 'Edytuj': 'Dodaj' "
      [disabled]="employeeForm.invalid" (onClick)="edit ? onEditEmployee() :onCreateEmployee()"></p-button>
    <p-button styleClass="button-width dialog-button-margin" (onClick)="onCloseDialog()">Anuluj</p-button>
  </div>
</div>

<ng-template #passwordContent>
  <div *ngIf="showPassword" class="dialog-content">
    <div class="dialog-body">
      <label for="header">Hasło do utworzonego konta:</label>
      <label for="password">{{password!.password}}</label>
    </div>
    <div class="dialog-footer">
      <p-button styleClass="button-width dialog-button-margin" (onClick)="onCloseDialog(true)">OK</p-button>
    </div>
  </div>
</ng-template>
